*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: var(--text-color-primary);
}

html{
    font-size: 62.5%;
}

section{
    width: 100%;
}    

:root{
    --text-color-primary: #2F1C6A;
    --border-color: #673de6;
}

.container{
    width: 100%;
    max-width: 121.6rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 10rem;
    position: fixed;
    padding: 6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2021;
    transition: all .3s;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo img{
    width: 100%;
    max-width: 10rem;
}

header .container nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

header .container nav .btn-primary{
    margin-left: 18rem;
}

header .container nav .ul-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav .ul-main li{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
}

header .container nav .ul-main li a{
    color: #ffff;
    transition: color .3s;
}

header .container nav .ul-main li a:hover{
    color: #dfaf20;
}

header .container nav .ul-main #btnCadastro{
    position: relative;
}
header .container nav .ul-main li:not(:first-child){
    margin-left: 8rem;
}

.fixed-menu{
    background-color: #431386;
    box-shadow: -0.5rem 0.5rem 1rem #000;
}
/* header .container nav .ul-main .ul-cadastros{
    display: none;
}

header .container nav .ul-main .ul-cadastros.active{
    position: absolute;
    padding: 2rem;
    border-radius: 1rem;
    background-color: aliceblue;
    bottom: -16rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

header .container nav .ul-main .ul-cadastros li{
    margin-left: 0rem !important;
}
header .container nav .ul-main .ul-cadastros li a:hover{
    color: var(--text-color-primary);
}

header .container nav .ul-main .ul-cadastros li:not(:first-child){
    margin-top: 1rem;
} */

.dropdown{
    position: absolute;
    top: 8rem;
    width: 100%;
    max-width: 34rem;
    background-color: #dfaf20;
    border-radius: 6px;
    padding: 4rem;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    transform: translateY(20px);
    box-shadow: -10px 10px 10px #333;
}    
.dropdown.active{
    opacity: 1;
    z-index: 2022;
    pointer-events: all;
    transform: translateY(0px);
}
.item{
    cursor: pointer;
}    
.item:not(:last-child){
    margin-bottom: 2.8rem;
}
.item:hover strong{
    color: #41288b;
}
.item strong{
    font-weight: 600;
    font-size: 1.6rem;
    list-style: 1.9rem;
    color: #0d0d0d;
    display: block;
    margin-bottom: 4px;
    transition: color .3s;
}
.item p{
    color: #fff;
    font-size: 1.4rem;
    line-height: 150%;
}
.dropdown-relatorio{
    position: absolute;
    top: 8rem;
    left:50%; 
    transform:translate(-50%, -50%);
    width: 100%;
    max-width: 37.3rem;
    background-color: #dfaf20;
    border-radius: 6px;
    padding: 4rem;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    transform: translateY(20px);
    box-shadow: -10px 10px 10px #333;
}    
.dropdown-relatorio.active{
    opacity: 1;
    z-index: 2022;
    pointer-events: all;
    transform: translateY(0px);
}


/* HOME */

.s-home{
    padding-top: 12rem;
    min-height: 100vh;
    background: linear-gradient(180deg, #6200ff 0%, #6958af 100%);
}

.s-home .container .main-home{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s-home .container .main-home .text-home{
    width: 100%;
    max-width: 50%;
    padding-top: 7rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.s-home .container .main-home .text-home h1{
    font-size: 6rem;
    color: #ffff;
}

.s-home .container .main-home .text-home img{
    margin-top: 2rem;
    width: 100%;
    max-width: 25rem;
    
}

.s-home .container .main-home .text-home h2{
    font-size: 3rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
}

.s-home .container .main-home .slide-sorvetes{
    width: 100%;
    margin-top: 6rem;
    max-width: 40rem;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.s-home .container .main-home .slide-sorvetes .swiper-slide .cards-home{
    width: 100%;
}
.s-home .container .main-home .slide-sorvetes .swiper-slide .cards-home img{
    max-width: 100%;
    border-radius: 1rem;
    height: 25rem;
}

.s-home .container .main-home .slide-sorvetes .swiper-button-prev{
    color: #6200ff;
}

.s-home .container .main-home .slide-sorvetes .swiper-button-next{
    color: #6200ff;
}

.s-home .container .main-home .slide-sorvetes .swiper-pagination-progressbar-fill{
    background-color: #2d115a;
}

/* Cadastros */

.s-cadastro{
    background: linear-gradient(180deg, #6200ff 0%, #6958af 100%);
    padding-top: 12rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.s-cadastro h1{
    font-size: 4rem;
    color: #fff;
    text-align: center;
}
.s-cadastro form{
    margin-top: 4rem;
    box-shadow: 1rem 1rem 4rem #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
    padding: 4rem;
    border-radius: 0.5rem;
}
.s-cadastro form p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-cadastro form p:not(:first-child){
    margin-top: 2rem;
}

.s-cadastro form p label{
    font-size: 2rem;
}

.s-cadastro form input{
    padding: 1rem;
    font-size: 2rem;
    height: 5rem;
    border-radius: 0.5rem;
    transition: all .3s;
    border: 1px solid #6200ff;
}

.s-cadastro form input:focus, input::selection{
    background-color: #bbb1e4;
}

.s-cadastro form textarea{
    overflow: hidden;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    font-size: 2rem;
    resize: none;
    background-color: #bbb1e4;
    border-radius: 0.5rem;
}

.s-cadastro form .btn-cadastrar{
    margin-top: 2rem;
}
.fl-table {
    margin: 10rem 0rem;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.fl-table thead th{
    font-size: 1.8rem;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 1.5rem;
}

.fl-table thead th {
    color: #ffffff;
    background: #6200ff;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #2d115a;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.btn-cadastrar{
    cursor: pointer;
    border: 1px solid #6200ff;
    color: #fff;
    transition: all .3s;
    background-color: #2d115a;
}

.btn-cadastrar:hover{
    background-color: #bbb1e4;
    color: #2d115a;
}

.btn-excluir{
    cursor: pointer;
    border: 1px solid #ff2600 !important;
    color: #fff;
    transition: all .3s;
    background-color: #ff2600;
}

.btn-excluir:hover{
    background-color: #ec7b67;
}

.btn-cancelar{
    cursor: pointer;
    border: 1px solid #0f26f3 !important;
    color: #fff;
    transition: all .3s;
    background-color: #0f26f3;
}

.btn-cancelar:hover{
    background-color: #6976f0;
}

.buttons-form{
    margin-top: 2rem;
    display: flex;
}

.btn-alterar{
    cursor: pointer;
    border: 1px solid #05851a !important;
    color: #fff;
    transition: all .3s;
    background-color: #05851a;
}

.btn-alterar:hover{
    background-color: #74c982;
}
.buttons-form input:not(:first-child){
    margin-left: 2rem;
}

.btn-primary{
    line-height: 3rem;
    border-radius: 10rem;
    font-size: 1.8rem;
    padding: 0.7rem 3.5rem;
    transition: all .4s;
    background-color: #dfaf20;
    color: #FFF;
}

.btn-primary:hover{
    background-color:#6200ff;
}


/* Sobre */
.linha{
    position: relative;
}

.linha::before{
    content: "";
    background-color: #6200ff;
    height: 0.5rem;
    width: 80%;
    position: absolute;
}

.s-sobre {
    background: url("../img/background2.svg") no-repeat center center;
    background-size: cover;
}

.s-sobre .container .main-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s-sobre .container .main-sobre .projeto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-sobre .container .main-sobre .projeto .text{
    width: 100%;
    max-width: 40%;
}

.s-sobre .container .main-sobre .projeto .text h2{
    padding-bottom: 1rem;
    font-size: 4rem;
}

.s-sobre .container .main-sobre .projeto .text p{
    margin-top: 4rem;
    font-size: 2rem;
    text-align: justify;
}

.s-sobre .container .main-sobre .projeto .img{
    width: 100%;
    max-width: 60%;
}

.s-sobre .container .main-sobre .projeto .img img{
    width: inherit;
}

.s-sobre .container .main-sobre .criadores{
    padding-top: 10rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.s-sobre .container .main-sobre .criadores .criador img{
    width: 40rem;
    border-radius: 50%;
}

.s-sobre .container .main-sobre .criadores .criador h3{
    text-align: center;
    font-size: 2.8rem;
}
.s-sobre .container .main-sobre .criadores .criador h3 .linha{
    padding-top: 1rem;
}
.s-sobre .container .main-sobre .criadores .criador h3 .linha:before{
    left:50%; 
    transform:translate(-50%, -50%);
}
.s-sobre .container .main-sobre .criadores .criador h3 .linha:before{
    width: 10rem;
}

.s-sobre .container .main-sobre .criadores .criador ul{
    margin-top: 1rem;
    background-color: #FFF;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 1rem #000;
}

.s-sobre .container .main-sobre .criadores .criador ul li{
    font-size: 2rem;
}

.s-sobre .container .main-sobre .criadores .criador ul li:not(:first-child){
    margin-top: 1rem;
}

.s-sobe{
    padding: 10rem 0rem;
}

/* .s-sobe .container .main-sobre{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 8rem;
    justify-content: space-between;
} */

.s-sobe .container .main-sobre #img-sobre{
    background-color: #dfaf20;
}

.s-sobe .container .main-sobre .left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
}

.s-sobe .container .main-sobre .left .text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.s-sobe .container .main-sobre .left #img-sobre{
    width: 100%;
    max-width: 50rem;
}

.s-sobe .container .main-sobre .left  .text h2{
    font-size: 4rem;
}

.s-sobe .container .main-sobre  .left .text h2 .linha::before{
    width: 100%;
    background-color: #dfaf20;
}

.s-sobe .container .main-sobre  .left .text p{
    font-size: 2rem;
    margin-top: 3rem;
    text-align: justify;
}

.s-sobe .container .main-sobre  .left .text a{
    text-transform: uppercase;
    margin-top: 4rem;
    align-self: center;
}

.s-sobe .container .main-sobre .right{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s-sobe .container .main-sobre #img-acai{
    transform: rotate(180deg);
    background-color: #6200ff;
    width: 100%;
    max-width: 50rem;
}
.s-sobe .container .main-sobre .right .text{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.s-sobe .container .main-sobre .right .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    border-radius: 1rem;
    padding: 0.5rem 0rem;
    transition: all .3s;
    box-shadow: 0rem 0rem 0.5rem #000;
}

.s-sobe .container .main-sobre .right .card:hover{
    box-shadow: 0rem 0rem 2rem #000;
}

.s-sobe .container .main-sobre .right .card:hover img{
    transform: scale(1.1);
}
.s-sobe .container .main-sobre .right .card img{
    width: 20rem;
    height: 20rem;
    transition: all .3s;
}

.s-sobe .container .main-sobre .right .card .text-card h4{
    padding-bottom: 0.2rem;
    position: relative;
    text-align: center;
    font-size: 2rem;
}

.s-sobe .container .main-sobre .right .card .text-card .linha::before{
    width: 10rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    left:50%; 
    transform:translate(-50%, -50%);
}

.s-sobe .container .main-sobre .right .card .text-card p{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.s-contato{
    background-color: #6200ff;
}

.s-contato .container{
    display: flex;
    align-items: center;

}

.s-contato .container img{
    height: 60rem;
}
.s-contato .container .text{
    width: 100%;
}
.s-contato .container .text h2{
    font-size: 6rem;
    color: #fff;
    padding-bottom: 1rem;
}

.s-contato .container .text h2{
    align-self: flex-end;
}
.s-contato .container .text .btn-primary{
    
}

.p-select{
    align-self: flex-start;
    max-width: 30rem;
}

.p-select select{
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color:#9781db;
    font-size: 2rem;
}

.p-data{
    align-self: flex-end;
    max-width: 30rem;
}

.p-lista label{
    margin-left: 1rem;
}

.p-lista select{
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.7rem;
    background-color: #9781db;
}
.form-compra{

}

/* Footer */
/* line 1, ../ajustar footer/scss/main.scss */
footer {
    background-color: #673de6;
    overflow: hidden;
}

/* line 4, ../ajustar footer/scss/main.scss */
footer .container {
    padding: 6.7rem 1.5rem 7.5rem 1.5rem;
}

/* line 6, ../ajustar footer/scss/main.scss */
footer .container .main-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* line 10, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 34.4rem;
}

/* line 17, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato h2 {
    margin-bottom: 0.6rem;
    font-size: 4rem;
    line-height: 6rem;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* line 25, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* line 31, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato form span {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
}

/* line 36, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato form span:not(:last-child) {
    margin-bottom: 2rem;
}

/* line 39, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato form span:not(:first-child) {
    margin-top: 2rem;
}

/* line 43, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato form input, footer .container .main-footer .f-contato form textarea {
    padding: 0rem 1rem;
    width: 100%;
}

/* line 47, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato form input:hover, footer .container .main-footer .f-contato form textarea:hover {
    background-color: #ccc;
}

/* line 50, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato form input {
    height: 3.5rem;
    border-radius: 0.5rem;
}

/* line 54, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato form textarea {
    padding-top: 1rem;
    resize: none;
    height: 12.4rem;
    border-radius: 0.5rem;
    margin-bottom: 2.8rem;
}

/* line 62, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-contato a {
    align-self: center;
}

/* line 66, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-social {
    padding-top: 8.2rem;
}

/* line 68, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-social h4 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #00C2FF;
    margin-bottom: 2.2rem;
}

/* line 75, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-social ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* line 81, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-social ul li:not(:last-child) {
    margin-bottom: 2.5rem;
}

/* line 84, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-social ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* line 88, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-social ul li a span {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
    margin-left: 1.5rem;
}

/* line 99, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-links {
    padding-top: 8.2rem;
}

/* line 101, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-links h4 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #00C2FF;
    margin-bottom: 2.2rem;
}

/* line 108, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-links ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* line 114, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-links ul li:not(:last-child) {
    margin-bottom: 3.9rem;
}

/* line 117, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-links ul li a {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
    margin-left: 1.5rem;
}

/* line 127, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-logo {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* line 133, ../ajustar footer/scss/main.scss */
footer .container .main-footer .f-logo h2 {
    font-weight: bold;
    font-size: 4rem;
    line-height: 6rem;
    color: #FFFFFF;
}

/* line 142, ../ajustar footer/scss/main.scss */
footer .f-end {
    width: 100%;
    padding-bottom: 4.1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* line 149, ../ajustar footer/scss/main.scss */
footer .f-end::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    max-width: 134.1rem;
    height: 0.2rem;
    border-radius: 10rem;
    background-color: #FFFF;
}

/* line 159, ../ajustar footer/scss/main.scss */
footer .f-end span {
    margin-top: 2.8rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #fff;
}

  /*# sourceMappingURL=main.css.map */